.box-wait {
	background:url(../img/background/bg-intro2.jpg) repeat;
	overflow: hidden;
}

.box-wait h1 {
	font:300 36px "Open Sans";
}

.box-wait h1::before {
	content:"";
	display: block;
	background:url(../img/background/bg-espera.png) no-repeat;
	width:236px;
	height: 119px;
	margin:25px auto;
}

.box-wait p {
	color: #333;
	font: 20px/30px Arial;
	margin:33px 0;
}

.box-wait a {
	background:#A6BC25;
	width:264px;
	height: 36px;
	margin:0 auto;
	text-align: center;
	color:#fff;
	border-radius: 5px;
	display: block;
	font:12px/36px arial;
}

.container-wait {
	background:url(../img/background/bg-01.jpg) no-repeat center bottom;
	overflow: hidden;
	min-height: 634px;
	background-size:100%;
}

@media (min-width: 1200px) {
	.box-wait h1 {
		width:406px;
		margin: 0 auto;
	}
	.container-wait {
		background-size:auto;		
	}
}